<!DOCTYPE html>
<html lang="en">
<body>
    <footer class="footer">
        <p style="text-align: center;">© gdreqbot 2025-2026 - All Rights Reserved</p>
        <br>
        <p style="text-align: center; font-size: small;">
            Made by GalaxyVinci05 with <a href="https://bulma.io" target="_blank">Bulma.io</a>
        </p>
    </footer>
</body>
</html>
