<!DOCTYPE html>
<html lang="en">
    <style>
        img.mr-1 {
          border-radius: 50%;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/bulma-prefers-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/bulma-tooltip.min.css">
    <link rel="stylesheet" href="/public/css/theme.css">
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="preload" as="image" href="/public/assets/gdreqbot.png">
    <link rel="icon" type="image/png" href="/public/assets/gdreqbot.png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
            $("#bottom-text").click(function () {
                $(".modal").toggleClass("is-active");
            });
            $(".modal-background").click(function () {
                $(".modal").toggleClass("is-active");
            });
            $(".modal-close").click(function () {
                $(".modal").toggleClass("is-active");
            });
        });
    </script>
    <title>gdreqbot</title>
</head>
<body>
    <nav class="navbar is-success is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/public/assets/gdreqbot.png" alt="Home" style="margin: 0px">
                <h6 class="header"><strong>Home</strong></h6>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/commands">
                    <span class="icon">
                        <i class="fas fa-terminal"></i>
                    </span>Commands
                </a>
                <a class="navbar-item" href="/stats">
                    <span class="icon">
                        <i class="fas fa-chart-bar"></i>
                    </span>Stats
                </a>
                <a class="navbar-item" href="/terms-of-service">
                    <span class="icon">
                        <i class="fas fa-file-alt"></i>
                    </span>Terms of Service
                </a>
                <a class="navbar-item" href="/privacy-policy">
                    <span class="icon">
                        <i class="fas fa-user-lock"></i>
                    </span>Privacy Policy
                </a>
                <a class="navbar-item" href="/faq">
                    <span class="icon">
                        <i class="fas fa-chart-line"></i>
                    </span>FAQ
                </a>
                <a class="navbar-item" href="/updates">
                    <span class="icon">
                        <i class="fas fa-newspaper"></i>
                    </span>News & Updates
                </a>
                <a class="navbar-item" href="https://github.com/gdreqbot">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>GitHub
                </a>
            </div>
            <div class="navbar-end">
                 <a class="navbar-item" href="/dashboard">
                    <span class="icon">
                        <i class="fas fa-cog"></i>
                    </span>
                    <span><strong>Dashboard</strong></span>
                </a>
            </div>
        </div>
    </nav>
<br></br>
<script>
    let { body } = document;
    let hidden = localStorage.getItem("navbar") == "hidden";

    if (hidden) {
        body.classList.add("navbar-hidden");
    } else {
        body.classList.remove("navbar-hidden");
    }

    window.addEventListener('load', () => {
        if (window.scrollY == 0) {
            body.classList.remove("navbar-hidden");
            localStorage.setItem("navbar", "visible");
        }
    });

    let step = false;

    window.addEventListener("scroll", () => {
        if (!step) {
            window.requestAnimationFrame(() => {
                let lastScroll = localStorage.getItem("lastScroll");
                let scroll = window.scrollY;

                if (scroll > lastScroll && scroll > 80 && !hidden) {
                    hidden = true;
                    body.classList.add("navbar-hidden");
                    localStorage.setItem("navbar", "hidden");
                } else if (scroll < lastScroll && hidden) {
                    hidden = false;
                    body.classList.remove("navbar-hidden");
                    localStorage.setItem("navbar", "visible");
                }

                localStorage.setItem("lastScroll", scroll);
                step = false;
            });
        }

        step = true;
    });
</script>
</body>
</html>
