<!DOCTYPE html>
<html lang="en">
    <style>
        img.mr-1 {
          border-radius: 50%;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/bulma-prefers-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/public/css/bulma-tooltip.min.css">
    <link rel="stylesheet" href="/public/css/theme.css">
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="preload" as="image" href="/public/assets/gdreqbot.png">
    <link rel="icon" type="image/png" href="/public/assets/gdreqbot.png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
            $("#bottom-text").click(function () {
                $(".modal").toggleClass("is-active");
            });
            $(".modal-background").click(function () {
                $(".modal").toggleClass("is-active");
            });
            $(".modal-close").click(function () {
                $(".modal").toggleClass("is-active");
            });
        });
    </script>
    <title>gdreqbot</title>
</head>
</html>
