<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Authentication successful</h1>
            <hr>
            <p class="subtitle">gdreqbot has joined your chat.</p>
            <p>Start right away by heading to your dashboard:</p>
            <br>
            <a href="/dashboard" class="button is-success">
                <span class="icon has-text">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span>Go to Dashboard</span>
            </a>
            <br></br>
            </div>
    </section>
<%- include('components/footer') %>
