<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Authentication error</h1>
            <hr>
            <p class="subtitle">Something went wrong. Please try again later.</p>
            <p>If the issue persists, please contact the developer.</p>
            </div>
    </section>
<%- include('components/footer') %>
