<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Error: <%= err %></h1>
            <hr>
            <p class="subtitle">An error occurred. Please try again later.</p>
            <p>If the issue persists, please ask for support on Discord and send the error message above.</p>
            <br>
            <a href="https://discord.gg/gzeKZJnB2B" class="button" target="_blank">
                <span class="icon has-text-info">
                    <i class="fab fa-discord"></i>
                </span>
                <span>Discord</span>
            </a>
            <hr>
            <br>
            <a href="/" class="button">
                <span class="icon has-text-primary">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Back to Login</span>
            </a>
        </div>
    </section>
