<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">FAQ</h1>
            <hr>
            <ul>
                <li>
                    <p class="title is-5">• Something went wrong while adding gdreqbot</p>
                    <p class="subtitle is-6">This may happen for the following reasons:</p>
                    <p>• gdreqbot is banned from your channel</p>
                    <p>• You are blacklisted from using gdreqbot</p>
                    <p>• Some other reason (please ask on Discord in this case)</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• The bot isn't responding in chat</p>
                    <p class="subtitle is-6">May happen for a few reasons:</p>
                    <p>• If any chat restrictions are applied (sub-only, follower-only, ...) you'll need to VIP or MOD gdreqbot</p>
                    <p>• If it still doesn't work, try to logout and login to the dashboard</p>
                    <p>• If after all that it still doesn't work, please ask on Discord</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• The bot responds twice with shared chat</p>
                    <p class="subtitle is-6">If you're streaming with the <strong>Streaming Together</strong> feature and have shared chat, make sure only one of you has added the bot to their channel</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• I timed the bot out and even after the timeout it doesn't reply in chat</p>
                    <p class="subtitle is-6">This needs manual intervention. Please ask on Discord so I can fix it.</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• GD/Geode mod?</p>
                    <p class="subtitle is-6">A Geode mod is ""in the plans"" but won't come anytime soon.</p>
                </li>
            </ul>
            <hr>
            <p class="subtitle is-5">If your issue isn't covered here, please feel free to ask in the official Discord support server linked below:</p>
            <a href="https://discord.gg/gzeKZJnB2B" class="button" target="_blank">
                <span class="icon has-text-info">
                    <i class="fab fa-discord"></i>
                </span>
                <span>Discord</span>
            </a>
        </div>
    </section>
<%- include('components/footer') %>
