<%- include('components/header', { bot, path }) %>
<style>
    img {
        border-radius: 10px;
        margin-right: 25px;
    }
</style>
    <section class="section">
        <div class="container">
            <div style="display: flex; align-items: center; margin-top: -20px">
                <img src="/public/assets/gdreqbot.png" alt="" width="64" height="64" style="margin-top: 10px">
                <h1 class="title">gdreqbot</h1>
            </div>
            <hr>
            <p class="title has-text-warning">Warning:</p>
            <p class="subtitle has-text-warning">gdreqbot has reached the concurrent channel limit, resulting in failure when trying to join new channels.</p>
            <p class="subtitle has-text-warning">As a workaround before I fix it, you can <strong class="has-text-warning">Mod</strong> the bot <strong class="has-text-warning"><i>before</i></strong> adding it to your channel. Do <code class="has-text-primary">/mod gdreqbot</code> in your Twitch chat to do so.</p>
            <hr>
            <p class="subtitle">A simple Twitch chatbot for managing Geometry Dash level request streams.</p>
            <a href="/auth?redirectTo=add" class="button is-success">
                <span class="icon">
                    <i class="fas fa-envelope"></i>
                </span>
                <span>Add to your Chat</span>
            </a>
            <a href="/dashboard" class="button" style="margin-left: 20px">
                <span class="icon has-text-success">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span>Go to Dashboard</span>
            </a>
            <br></br>
            <p>Please note:</p>
            <p>• gdreqbot is a standalone bot and is not affiliated with loquibot.</p>
            <p>• gdreqbot is still in early stage development. If you encounter any issues, please report them in the official Discord support server linked below:</p>
            <br>
            <a href="https://discord.gg/gzeKZJnB2B" class="button" target="_blank">
                <span class="icon has-text-info">
                    <i class="fab fa-discord"></i>
                </span>
                <span>Discord</span>
            </a>
            <hr>
            <h1 class="title">What we've got</h1>
            <br>
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">
                        A Level Requests dashboard to easily manage requests in a single place!
                    </p>
                    <hr>
                    <img src="/public/assets/dash.png" alt="">
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">
                        A complete set of commands for the viewers, and to also manage requests directly in your chat!
                    </p>
                    <hr>
                    <p class="subtitle">Toggle requests on and off</p>
                    <img src="/public/assets/toggle.png" alt="">
                    <br></br>
                    <p class="subtitle">Request levels by name or ID</p>
                    <img src="/public/assets/r.png" alt="">
                    <br></br>
                    <p class="subtitle">Remove your last level from the queue</p>
                    <img src="/public/assets/rm.png" alt="">
                    <br></br>
                    <p class="subtitle">List levels in the queue</p>
                    <img src="/public/assets/list.png" alt="">
                    <br></br>
                    <p class="subtitle">Get info about the current level</p>
                    <img src="/public/assets/info.png" alt="">
                    <br></br>
                    <p class="subtitle">Clear the queue</p>
                    <img src="/public/assets/clear.png" alt="">
                    <br></br>
                    <p class="subtitle">Toggle the random queue</p>
                    <img src="/public/assets/random.png" alt="">
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">
                        A special unique feature: Privilege mode!
                    </p>
                    <hr>
                    <p class="subtitle">Some commands can be run in <strong>privilege mode</strong> to perform more actions through the <strong>!privilege</strong> command</p>
                    <img src="/public/assets/pr.png" alt="">
                    <br></br>
                    <p class="subtitle">Remove a specific level from the queue by name or ID</p>
                    <img src="/public/assets/prrm.png" alt="">
                    <br></br>
                    <p class="subtitle">Set required permissions for a command</p>
                    <img src="/public/assets/perm.png" alt="">
                    </div>
            </div>
            <br></br>
            <h1 class="title">... And more!</h1>
            <p class="subtitle">Just type <strong>!help</strong> in your chat, or head to <a href="/commands">Commands</a> for a full list of commands!</p>
        </div>
    </section>
<%- include('components/footer') %>
