<%- include('components/header', { bot, path }) %>
<style>
    img {
        border-radius: 10px;
        margin-right: 25px;
    }
</style>
    <section class="section">
        <div class="container">
            <div style="display: flex; align-items: center; margin-top: -20px">
                <img src="/public/assets/gdreqbot.png" alt="" width="64" height="64" style="margin-top: 10px">
                <h1 class="title">gdreqbot</h1>
            </div>
            <hr>
            <a href="/login" class="button is-large is-success">
                <span>Login</span>
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </a>
        </div>
    </section>
<%- include('components/footer') %>
