<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Whoops!</h1>
            <hr>
            <p class="subtitle">Couldn't reach the gdreqbot server ¯\_(ツ)_/¯</p>
            <p>If you <i>are</i> connected to the internet, you can try to close and reopen gdreqbot</p>
            <p>Or check if the website is up: <a href="https://gdreqbot.ddns.net" target="_blank">https://gdreqbot.ddns.net</a></p>
            <p>Or join the Discord support server for updates:</p>
            <br>
            <a href="https://discord.gg/gzeKZJnB2B" class="button" target="_blank">
                <span class="icon has-text-info">
                    <i class="fab fa-discord"></i>
                </span>
                <span>Discord</span>
            </a>
        </div>
    </section>
<%- include('components/footer') %>
