<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Outdated client!</h1>
            <hr>
            <p class="subtitle">You are running an outdated version of gdreqbot</p>
            <p>Your version: <code class="has-text-warning">v<%= version %></code></p>
            <p>Upstream: <code class="has-text-primary">v<%= upstream %></code></p>
            <br>
            <p>Please download the latest gdreqbot here: <a href="https://gdreqbot.ddns.net/download" target="_blank">https://gdreqbot.ddns.net/download</a></p>
            <p>(Auto updates are only supported on the Windows installer version)</p>
        </div>
    </section>
<%- include('components/footer') %>
