<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Privacy Policy</h1>
            <hr>
            <form action="/" method="GET">
                <button class="button" type="submit">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Back to Home</span>
                </button>
            </form>
            <br>
            <p class="subtitle">Read the Privacy Policy <a href="https://docs.google.com/document/d/1cyfNT3japSXE9ulyoVgiaspJyF6N3Zjc9IJxfau_W3U/edit?usp=sharing">here</a>.</p>
        </div>
    </section>
<%- include('components/footer') %>
