<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">gdreqbot Update v4.0</h1>
            <p>Jan 29th, 2026</p>
            <hr>
            <ul>
                <li>
                    <p class="title is-5">• Dashboard Updates</p>
                    <p class="has-text-primary">• Added a <a href="/dashboard">Level Requests</a> dashboard</p>
                    <p>• The dashboard now has a nice animated, collapsable sidebar for navigation</p>
                    <p>• Added a <strong>!dashboard</strong> command to display the dashboard link</p>
                </li>
                <br></br>
                <li>
                    <p class="title is-5">• Added Silent Mode</p>
                    <p class="subtitle is-6">When enabled, silent mode prevents the bot from sending any messages in chat. <a href="/commands">Commands</a> supporting it will still work, but won't reply in chat if silent mode is enabled.</p>
                </li>
                <br></br>
                <li>
                    <p class="title is-5">• Added Request Notes</p>
                    <p class="subtitle is-6">Now if a user sends a message containing a level ID (also with the <strong>!req</strong> command), the bot will pickup the rest of the message as request notes.</p>
                <br>
                <li>
                    <p class="title is-5">• Other Website Updates</p>
                    <p>• Added a navbar animation when hiding</p>
                    <p>• Updated the <a href="/">Home</a> page with new screenshots</p>
                    <p>• (4.0.1) Updated UI framework and icons</p>
                </li>
            </ul>
            <hr>
            <p class="subtitle">You can check out the full updates history <a href="/versions">here</a>.</p>
        </div>
    </section>
<%- include('components/footer') %>
