<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Downloading Update.</h1>
            <hr>
            <p class="subtitle" id="help" style="visibility: hidden">Please download gdreqbot manually: <a href="https://gdreqbot.ddns.net/download">https://gdreqbot.ddns.net/download</p>
            <!-- <div id="help" style="visibility: hidden">
                <p class="subtitle">Servers offline?</p>
                <p>Check if the website is up: <a href="https://gdreqbot.ddns.net" target="_blank">https://gdreqbot.ddns.net</a></p>
                <p>Or join the Discord support server for updates:</p>
                <br>
                <a href="https://discord.gg/gzeKZJnB2B" class="button" target="_blank">
                    <span class="icon has-text-info">
                        <i class="fab fa-discord"></i>
                    </span>
                    <span>Discord</span>
                </a>
            </div> -->
        </div>

        <script>
            let title = document.querySelector('.title');
            let help = document.getElementById('help');
            let type = "Downloading Update";
            let dots = 1;
            //let retries = 0;

            let intervalId = setInterval(() => {
                dots = (dots % 3) + 1;
                title.textContent = `${type}${".".repeat(dots)}`;
                //retries++;

                //if (retries > 8 && help.style.visibility == "hidden")
                //    help.style.visibility = "visible";
            }, 500);

            async function update() {
                try {
                    let dRes = await fetch('/update/download');
                    if (!dRes.ok) throw "Download failed";

                    type = "Installing Update";

                    let iRes = await fetch('/update/install');
                    if (!iRes.ok) throw "Install failed";
                } catch (err) {
                    clearInterval(intervalId);
                    title.textContent = err;
                    help.style.visibility = "visible";
                }
            }

            update();
        </script>
    </section>
